@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.component{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
    text-decoration: underline;
    font-weight: 600;
}
body{
    background-color: #FFF3F3;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 4.7em;
}
.start-button input{
    box-shadow: 0.13em 0.13em 0.063em rgba(61, 59, 59, 0.397);
    border: none;
    border-radius: 0.31em;
    font-size: 1.2em;
    padding: 0.31em 0.94em;
    margin: 1.25em 0.63em 1.25em 0;
    border: 0.063em solid #000;
    cursor: pointer;
}
.start-button #startBtn{
    background-color: #75EAE3;
}
.start-button #stopBtn{
    background-color: rgb(255, 80, 80);
}
.hidden {
    display: none;
  }
.beat-buttons{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1em;
}
.beat-button{
    /* width: 15.7em; */
    width: 14em;
    height: 14em;
    box-shadow: 0.125em 0.125em 0.125em rgba(61, 59, 59, 0.253);
    border-radius: 0.75em;
    border: 0.063em solid rgba(51, 51, 51, 0.479);
    cursor: pointer;
}
#button1{
    background-color: #6DF0D1;
}
#button2{
    background-color: #6D9AF0;
}
#button3{
    background-color: #F0DB6D;
}
#button4{
    background-color: #EA758A;
}
#button1:active, #button1.lit{
    background-color: #005844;
}
#button2:active, #button2.lit{
    background-color: #00308a;
}
#button3:active, #button3.lit{
    background-color: #a38800;
}
#button4:active, #button4.lit{
    background-color: #d10f33;
}
#author{
    position: absolute;
    bottom: 5%;
    right: 10%;
}

/* media queries start here */

/* mobile media query start here */

@media only screen and (max-width: 600px){
    body{
        width: 100%;
    }
    .beat-button{
        width: 8em;
        height: 8em;
    }
}

/* mobile media query end here */

/* media queries end here */